name: Execução de Testes BDD - Amazon

on:
  push:
    branches: [ "main", "master" ] # Roda ao fazer push nessas branches
  pull_request:
    branches: [ "main", "master" ]
	
	schedule:
	    - cron: '0 9 * * 1' # Isso executa toda segunda-feira às 09:00 UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Install Google Chrome
      run: |
        sudo apt-get update
        sudo apt-get install google-chrome-stable

    - name: Build and Run Tests with Maven
      run: mvn test -Dcucumber.options="--tags @funcionais" # Roda apenas os testes com sua tag

    - name: Upload Test Report
      if: always() # Garante que o relatório suba mesmo se o teste falhar
      uses: actions/upload-artifact@v4
      with:
        name: cucumber-report
        path: target/report.html # O caminho que você configurou no seu Runner
		